.review-item{
    /* width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding:10px;
    margin-bottom: 20px; */
    /* width: 1000px; */
    /* border: 1px solid gray; */
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-left: 50px;
}