/* .header{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    display: block;
} */
.header{
    text-align: center;
}
.header img {
    height: 80px;
    /* width: 200px; */
}
.header nav{
    background: #000;
    line-height: 40px;
    text-align: left;
    
}
nav a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 5px;
    transition: all linear .5s;
}
nav a:hover{
    background: gray;
}
.search-input{
    background: rgba(0, 0, 0, 0.7);
    line-height: 40px;
}